<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBicpsH3VGF8fqYLVZalo-sIocvfBdCjuc</string>
	<key>GCM_SENDER_ID</key>
	<string>1049700711949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aos.Connonym</string>
	<key>PROJECT_ID</key>
	<string>connonym-5d035</string>
	<key>STORAGE_BUCKET</key>
	<string>connonym-5d035.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049700711949:ios:68e25d4ce97e067450df44</string>
</dict>
</plist>